[Unit]
Description=Rasberry Oled Fan And Button
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=plof
ExecStart=/usr/bin/python /home/plof/RaspeSetup/OledFanButtonRasp/main.py

[Install]
WantedBy=multi-user.target
